<ion-tabs>
  <ion-tab-bar slot="top" color="secondary">
    <ion-tab-button tab="music">
      <ion-label>Music</ion-label>
      <ion-icon name="musical-note"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-label>Movies</ion-label>
      <ion-icon name="videocam"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="games">
      <ion-label>Games</ion-label>
      <ion-icon name="logo-game-controller-b"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>