<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Toast
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" (click)="presentToast()">
        present Toast <ion-icon slot="end" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button expand="block" (click)="presentToastWithOptions()">
        present Toast With Options <ion-icon slot="end" name="bluetooth"></ion-icon>
    </ion-button>
</ion-content>
