<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Spinner
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <!-- Default Spinner -->
        <ion-label>Spinner</ion-label>
          <ion-spinner slot="end"></ion-spinner>
    </ion-item>

    <ion-item>
        <!-- Lines -->
        <ion-label>Lines</ion-label>
      <ion-spinner name="lines" slot="end"></ion-spinner>
    </ion-item>

    <ion-item>
       <!-- Lines Small -->
       <ion-label>Lines Small</ion-label>
      <ion-spinner name="lines-small" slot="end"></ion-spinner>
    </ion-item>

    <ion-item>
        <!-- Dots -->
        <ion-label>Dots</ion-label>
        <ion-spinner name="dots" slot="end"></ion-spinner>
     </ion-item>

     <ion-item>
        <!-- Bubbles -->
        <ion-label>Bubbles</ion-label>
        <ion-spinner name="bubbles" slot="end"></ion-spinner>
     </ion-item>

     <ion-item>
        <!-- Circles -->
        <ion-label>Circles</ion-label>
        <ion-spinner name="circles" slot="end"></ion-spinner>
     </ion-item>

     <ion-item>
        <!-- Crescent -->
        <ion-label>Crescent</ion-label>
        <ion-spinner name="crescent" slot="end"></ion-spinner>
     </ion-item>

     <ion-item>
        <!-- Paused Default Spinner -->
        <ion-label>Paused Default Spinner</ion-label>
        <ion-spinner paused slot="end"></ion-spinner>
      </ion-item>
     <ion-item>
       
     </ion-item>



</ion-content>
